@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 26% 83% !important;
    --foreground: 0 0% 20% !important;
    --accent: 60 100% 50% !important;
    /* --muted: 42 45% 60% !important; */
    --muted: 39 20% 71% !important;
    --muted-foreground: 0 0% 40% !important;
    --white: 0 0% 100% !important;
    --black: 0 0% 0% !important;

    --radius: 0.5rem;

    --font-sans: var(--font-work-sans), sans-serif;
    /* --font-mono: input-mono-narrow, monospace; */
    --font-mono: var(--font-ibm-plex-mono), monospace;
  }

  .dark {
    --background: 0 0% 20% !important;
    --foreground: 39 26% 83% !important;
    --accent: 60 100% 50% / 0.3 !important;
    /* --muted: 42 45% 60% !important; */
    --muted: 60 100% 50% / 0.3 !important;
    --muted-foreground: 43 28% 95% !important;
    --white: 0 0% 100% !important;
    --black: 0 0% 0% !important;
  }

  body {
    @apply bg-background text-foreground pt-0;
    background-color: hsl(var(--background)) !important;
    color: hsl(var(--foreground)) !important;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .bg-background {
    background-color: hsl(var(--background)) !important;
  }

  .text-foreground {
    color: hsl(var(--foreground)) !important;
  }

  .bg-foreground {
    background-color: hsl(var(--foreground)) !important;
  }

  .text-background {
    color: hsl(var(--background)) !important;
  }

  .bg-accent {
    background-color: hsl(var(--accent)) !important;
  }

  .text-accent {
    color: hsl(var(--accent)) !important;
  }

  .border-accent {
    border-color: hsl(var(--accent)) !important;
  }

  .bg-muted {
    background-color: hsl(var(--muted)) !important;
  }

  .text-muted {
    color: hsl(var(--muted)) !important;
  }

  .svg-darkmode {
    filter: none;
  }

  .dark .svg-darkmode {
    filter: invert(91%) sepia(17%) saturate(166%) hue-rotate(1deg) brightness(94%) contrast(88%);
  }

  .category-scroll {
    @apply flex gap-4 overflow-x-auto pb-4 no-scrollbar;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .theme-transition {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .bg-blur {
    backdrop-filter: blur(8px);
    background-color: rgba(var(--background), 0.8);
  }

  @supports not (backdrop-filter: blur(10px)) {
    .bg-blur {
      background-color: rgba(var(--background), 0.95);
    }
  }

/* Custom prose styles */
.prose {
  @apply text-foreground;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply text-foreground font-mono;
}

.prose h1 {
  @apply text-3xl md:text-4xl lg:text-5xl font-normal;
}

.prose h2 {
  @apply text-2xl md:text-3xl lg:text-4xl font-medium;
}

.prose h3 {
  @apply text-xl md:text-2xl lg:text-3xl font-normal py-8 lg:py-16;
}

.prose p {
  @apply text-foreground font-mono text-lg;
}

.prose a {
  @apply underline hover:decoration-wavy;
}

.prose strong {
  
}

.prose ul,
.prose ol {
  @apply w-full font-mono list-disc ml-5;
}

.prose blockquote {
  @apply border-l-4 border-accent bg-muted text-foreground;
}

.prose code {
  @apply bg-muted text-foreground px-1 py-0.5 rounded;
}

.prose pre {
  @apply bg-muted text-foreground;
}

.prose img {
  @apply rounded-lg;
}

.prose table {
  @apply w-full font-mono;
}

.prose td  {
  @apply pr-2;
}

.prose th {
  @apply text-left text-lg font-medium;
}

  /* Custom text selection styles */
  ::selection {
    background-color: hsl(var(--foreground));
    color: hsl(var(--background));
  }

  ::-moz-selection {
    background-color: hsl(var(--foreground));
    color: hsl(var(--background));
  }

  .inline-image {
    @apply block mb-16 max-w-full h-auto;
  }
}
